body {
    background-color: #8EE4AF;
}

.container{
    background-color: #EDF5E1;
    margin-top: 10px;
    border-radius: 25px;
}

.top-menu{
    background-color:#05386B
}
.navbar-btn{
    margin: 3px;
    vertical-align: middle;
}

.site-lebel{
    color: rgb(255, 193, 7);
}

.flash{
    color:  #FF0000;
    text-align: center;
}

.message{
    text-align: center;
}
