body {
    background-color: #8EE4AF;
}

.container{
    background-color: #EDF5E1
}

.top-menu{
    background-color:#05386B
}
.navbar-btn{
    margin: 3px;
}

.site-lebel{
    color: rgb(255, 193, 7);;
}
