<div class="container container-header">
 <div class="row top-menu">
     <div class="col-md-6">
         <h1 class="site-lebel">Catalog App</h1>
    </div>
    <div class="col-md-6 text-right">
        {% if 'username' not in session %}
            <a href="{{ url_for('showLogin') }}">
                <button type="button" class="btn btn-warning btn-sm navbar-btn">Login</button>
            </a>
        {% else %}
            <a href="{{ url_for('disconnect') }}">
                <button type="button" class="btn btn-warning btn-sm navbar-btn">Logout</button>
            </a>
        {% endif %}
    </div>
</div>
<div class='flash text-center'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <p><strong class="message"> {{ message }} </strong></p>
                {% endfor %}
        {% endif %}
    {% endwith %}
</div>
</div>

